<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>displayName</key>
            <string>Maps</string>
            <key>children</key>
            <array>
                <dict>
                    <key>displayName</key>
                    <string>Display a map</string>
                    <key>storyboardName</key>
                    <string>DisplayMap</string>
                    <key>descriptionText</key>
                    <string>This sample shows you how to display a map with imagery basemap</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Open an existing map</string>
                    <key>storyboardName</key>
                    <string>OpenExistingMap</string>
                    <key>descriptionText</key>
                    <string>This sample shows you how to open an existing map using its url</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Change basemap</string>
                    <key>storyboardName</key>
                    <string>SwitchBasemap</string>
                    <key>descriptionText</key>
                    <string>Changing the basemap is too easy. This sample shows you how it can be done</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Set initial map area</string>
                    <key>storyboardName</key>
                    <string>SetInitialMapArea</string>
                    <key>descriptionText</key>
                    <string>You can also specify an area or enveloper as the initial view for the map to start with</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Set initial map location</string>
                    <key>storyboardName</key>
                    <string>SetInitialMapLocation</string>
                    <key>descriptionText</key>
                    <string>You can set the initial location for a map by passing in the coordinates and the zoom level</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Set map spatial reference</string>
                    <key>storyboardName</key>
                    <string>SetMapsSpatialReference</string>
                    <key>descriptionText</key>
                    <string>You can initialize a map by specifying the spatial reference. If you add any layer with a different spatial reference it will re-project</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Manage operational layers</string>
                    <key>storyboardName</key>
                    <string>ManageMapLayers</string>
                    <key>descriptionText</key>
                    <string>This sample shows you how to manage layers in a map. You can reorder them, delete an existing layer or insert a new layer</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Manage bookmarks</string>
                    <key>storyboardName</key>
                    <string>Bookmarks</string>
                    <key>descriptionText</key>
                    <string>Now you can add and view bookmarks on a map</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Display drawing status</string>
                    <key>storyboardName</key>
                    <string>MapViewDrawStatus</string>
                    <key>descriptionText</key>
                    <string>Every time the map is drawing you get an update using the callbacks</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Change viewpoint</string>
                    <key>storyboardName</key>
                    <string>SetViewpoint</string>
                    <key>descriptionText</key>
                    <string>You can change the viewpoint of a map view and there are different ways you can do this. You can use a geometry or a point, etc. with or without animation</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Map rotation</string>
                    <key>storyboardName</key>
                    <string>MapRotation</string>
                    <key>descriptionText</key>
                    <string>This sample shows you how to rotate a map view. You can pinch to rotate or do it programmatically.</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Show magnifier</string>
                    <key>storyboardName</key>
                    <string>ShowMagnifier</string>
                    <key>descriptionText</key>
                    <string>You can tap and hold on the map to get a magnifier</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Display device location</string>
                    <key>storyboardName</key>
                    <string>DisplayLocation</string>
                    <key>descriptionText</key>
                    <string>You can start the location display on the map view to get current location updates. There are different auto pan modes you can switch between, namely, re-center mode, navigation mode or compass mode</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Take screenshot</string>
                    <key>storyboardName</key>
                    <string>MapViewScreenshot</string>
                    <key>descriptionText</key>
                    <string>You can now take a screenshot of the map view. You can use it as the thumbnail for you newly created map or simply share it with your co-workers</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Authoring a map</string>
                    <key>storyboardName</key>
                    <string>AuthoringMap</string>
                    <key>descriptionText</key>
                    <string>With the new APIs you get to author a map on you mobile device. You can create a map by adding a basemap and one or more operational layers and save it to your portal</string>
                </dict>
<!--                <dict>
                    <key>displayName</key>
                    <string>Display layer view status</string>
                    <key>storyboardName</key>
                    <string>LayerStatus</string>
                    <key>descriptionText</key>
                    <string>You can get the view status for each layer in your map. It tells you if the that layer is currently active or not currently visible or if an error occured while loading it etc</string>
                </dict> -->
            </array>
        </dict>
        <dict>
            <key>displayName</key>
            <string>Layers</string>
            <key>children</key>
            <array>
                <dict>
                    <key>displayName</key>
                    <string>ArcGIS tiled layer (URL)</string>
                    <key>storyboardName</key>
                    <string>TLUsingURL</string>
                    <key>descriptionText</key>
                    <string>You can create a tiled layer using the url to the service</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>ArcGIS map image layer (URL)</string>
                    <key>storyboardName</key>
                    <string>MILUsingURL</string>
                    <key>descriptionText</key>
                    <string>You can use the url to a map server to create a map image layer</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Change sublayer visibility</string>
                    <key>storyboardName</key>
                    <string>SublayerVisibility</string>
                    <key>descriptionText</key>
                    <string>You can show or hide individual sublayers in a map image layer</string>
                </dict>
                
            </array>
        </dict>
        <dict>
            <key>displayName</key>
            <string>Features</string>
            <key>children</key>
            <array>
                <dict>
                    <key>displayName</key>
                    <string>Feature layer (feature service)</string>
                    <key>storyboardName</key>
                    <string>FeatureLayerURL</string>
                    <key>descriptionText</key>
                    <string>Show a feature layer on map using the url to the service</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Service feature table (cache)</string>
                    <key>storyboardName</key>
                    <string>OnInteractionCache</string>
                    <key>descriptionText</key>
                    <string>There are different request modes you can load your feature layer in. This sample uses the "On Interaction Cache Mode".</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Service feature table (no cache)</string>
                    <key>storyboardName</key>
                    <string>OnInteractionNoCache</string>
                    <key>descriptionText</key>
                    <string>There are different request modes you can load your feature layer in. This sample uses the "On Interaction No Cache Mode".</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Service feature table (manual cache)</string>
                    <key>storyboardName</key>
                    <string>ManualCache</string>
                    <key>descriptionText</key>
                    <string>There are different request modes you can load your feature layer in. This sample uses the "Manual Cache Mode".</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Feature layer selection</string>
                    <key>storyboardName</key>
                    <string>FLSelection</string>
                    <key>descriptionText</key>
                    <string>You can tap on the map to select or unselect features in a feature layer</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Feature layer query</string>
                    <key>storyboardName</key>
                    <string>FLQuery</string>
                    <key>descriptionText</key>
                    <string>You can query features in feature layer via service feature table. In this sample you can query for States in USA</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Feature layer definition expression</string>
                    <key>storyboardName</key>
                    <string>DefinitionExpression</string>
                    <key>descriptionText</key>
                    <string>You can set the definition expression on the feature layer to load specific features</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Change feature layer renderer</string>
                    <key>storyboardName</key>
                    <string>OverrideRenderer</string>
                    <key>descriptionText</key>
                    <string>The feature layer comes with a default renderer but you can also override this renderer using your custom renderer</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>displayName</key>
            <string>Display information</string>
            <key>children</key>
            <array>
                <dict>
                    <key>displayName</key>
                    <string>Add graphics with renderer</string>
                    <key>storyboardName</key>
                    <string>GORenderers</string>
                    <key>descriptionText</key>
                    <string>You can add graphics to a map using the new Graphics Overlay</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Add graphics with symbols</string>
                    <key>storyboardName</key>
                    <string>GraphicsWithSymbols</string>
                    <key>descriptionText</key>
                    <string>You can add graphics to a map using the new Graphics Overlay and specify symbol for each graphic</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Identify graphics</string>
                    <key>storyboardName</key>
                    <string>GOIdentify</string>
                    <key>descriptionText</key>
                    <string>You can use the identify method on map view to get the graphics at a location. It could be the location, user interacted with, via tap gesture or simply some custom location</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Sketch on the map</string>
                    <key>storyboardName</key>
                    <string>Sketch</string>
                    <key>descriptionText</key>
                    <string>You can use the SketchGraphicsOverlay for sketching on your map</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Show callout</string>
                    <key>storyboardName</key>
                    <string>Callout</string>
                    <key>descriptionText</key>
                    <string>Tap on the map to get the coordinates for the location in a callout. Tap again to hide it.</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Show legend</string>
                    <key>storyboardName</key>
                    <string>MILShowLegend</string>
                    <key>descriptionText</key>
                    <string>Tap on the button in the toolbar to display legends for the layers on the map</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>displayName</key>
            <string>Search</string>
            <key>children</key>
            <array>
                <dict>
                    <key>displayName</key>
                    <string>Find address</string>
                    <key>storyboardName</key>
                    <string>FindAddress</string>
                    <key>descriptionText</key>
                    <string>Type in or select a prepopulated address to show it on the map</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Reverse geocode</string>
                    <key>storyboardName</key>
                    <string>ReverseGeocode</string>
                    <key>descriptionText</key>
                    <string>Tap on a location on the map to find its address</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Find place</string>
                    <key>storyboardName</key>
                    <string>FindPlace</string>
                    <key>descriptionText</key>
                    <string>Search for a point of interest either near by or across the world or around a particular location</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Offline geocode</string>
                    <key>storyboardName</key>
                    <string>OfflineGeocode</string>
                    <key>descriptionText</key>
                    <string>Tap and hold to get address for a point on the map from an offline locator. You can also tap hold and move to get instant results</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>displayName</key>
            <string>Edit data</string>
            <key>children</key>
            <array>
                <dict>
                    <key>displayName</key>
                    <string>Add features (feature service)</string>
                    <key>storyboardName</key>
                    <string>AddFeatures</string>
                    <key>descriptionText</key>
                    <string>Tap on a location on the map to add a new feature at that location</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Delete features (feature service)</string>
                    <key>storyboardName</key>
                    <string>DeleteFeatures</string>
                    <key>descriptionText</key>
                    <string>Tap on a feature to select it and then tap on the info button to delete the feature</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Update attributes (feature service)</string>
                    <key>storyboardName</key>
                    <string>EditAttributes</string>
                    <key>descriptionText</key>
                    <string>Tap on a feature to display a callout. The callout shows the damage type for that feature and an info button. To change the damage type tap on the info button and select a new on from the list shown</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Update geometries (feature service)</string>
                    <key>storyboardName</key>
                    <string>EditGeometry</string>
                    <key>descriptionText</key>
                    <string>Tap on a feature to display a callout. To change the geomemtry of the selected feature tap on the info button. Tap on the new location on the map and tap Done to save</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Edit feature attachments</string>
                    <key>storyboardName</key>
                    <string>EditAttachment</string>
                    <key>descriptionText</key>
                    <string>Tap on a feature to display a callout. The callout shows the number of attachments associated with that feature. Tap on the info button to open the list view. You can add, delete or download an attachment in this list</string>
                </dict>
                <dict>
                    <key>displayName</key>
                    <string>Edit features (connected)</string>
                    <key>storyboardName</key>
                    <string>EditFeaturesOnline</string>
                    <key>descriptionText</key>
                    <string>This sample shows you how to add or edit features in an online feature layer using popups. The new popups provide inline editing for fast editing experience</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
