<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>https://www.arcgis.com</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>c78b149a1d52414682c86a5feeb13d30</string>
			<key>filename</key>
			<string>mil2525d.stylx</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>98092369c4ae4d549bbbd45dba993ebc</string>
			<key>filename</key>
			<string>MontereyElevation.dt2</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>34da965ca51d4c68aa9b3a38edb29e00</string>
			<key>filename</key>
			<string>sandiego-north-balboa-pointcloud.slpk</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>7dd2f97bb007466ea939160d0de96a9d</string>
			<key>filename</key>
			<string>philadelphia.mspk</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>628e8e3521cf45e9a28a12fe10c02c4d</string>
			<key>filename</key>
			<string>naperville_imagery.tpk</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>52ca74b4ba8042b78b3c653696f34a9c</string>
			<key>filename</key>
			<string>MontereyElevation.tpkx</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>174150279af74a2ba6f8b87a567f480b</string>
			<key>filename</key>
			<string>LothianRiversAnno.mmpk</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>b87307dcfb26411eb2e92e1627cb615b</string>
			<key>filename</key>
			<string>GasDeviceAnno.mmpk</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>751138a2e0844e06853522d54103222a</string>
			<key>filename</key>
			<string>Restaurant.stylx</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>d1453556d91e46dea191c20c398b82cd</string>
			<key>filename</key>
			<string>PacificSouthWest2.zip</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>74c0c9fa80f4498c9739cc42531e9948</string>
			<key>filename</key>
			<string>loudoun_anno.geodatabase</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>b5f977c78ec74b3a8857ca86d1d9b318</string>
			<key>filename</key>
			<string>SA_EVI_8Day_03May20.zip</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>f4b742a57af344988b02227e2824ca5f</string>
			<key>filename</key>
			<string>dodge_city.vtpk</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>38a74d8a2a404fe8851ce32b3231f625</string>
			<key>filename</key>
			<string>ExchangeSetWithoutUpdates.zip</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>c16f3845b9cc4b93a908d87d28823afd</string>
			<key>filename</key>
			<string>hydrography.zip</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>navigate_a_route_detour</string>
			<key>identifier</key>
			<string>91e7e6be79cc4d2f8416eff867674c1e</string>
		</dict>
	</array>
</dict>
</plist>
